:root {
  --clr-mainBackground: hsla(244, 31%, 10%, 1);
  --clr-neonBlue: hsl(205, 100%, 53%);
  --clr-ligthBlue: hsl(205, 100%, 80%);
  --clr-orange: hsla(33, 100%, 50%, 1);
  --clr-linkedin: rgb(10, 102, 194);

  --ff-main: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;

  /* For the charts */
  --clr-html: #f06529;
  --clr-css: #264de4;
  --clr-js: #f7df1e;
  --amount-js: 25%;

  --clr-react: #61dbfb;
  --amount-react: 25%;

  --clr-csharp: #682876;
  --amount-csharp: 25%;

  --clr-python: #f06529;
  --amount-python: 25%;

  --amount-type-web: 40%;
  --amount-type-app: 30%;
  --amount-type-game: 30%;
}

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--clr-mainBackground);
  font-family: var(--ff-main);
}

.zero-stats {
  filter: grayscale(100%);
  opacity: .25;
  cursor: none;
  touch-action: none;
}

/* -------------------------------- Header --------------------------------- */

header {
  /* outline: 2px solid green; */
  width: 100vw;
  height: 15vh;
  max-height: 20vh;
  position: relative;
  top: 0;
}

.header-background {
  width: 100vw;
  position: absolute;
  top: 15vh;
  left: 0;
  z-index: 0;

  fill: none;
  stroke-width: 5px;
  stroke: var(--clr-neonBlue);
}

#header-background__effect {
  filter: blur(5px);
}

@media screen and (min-width: 600px) {
  .header-background {
    top: 0;
    stroke-width: 1;
  }
}

/* Nav */

nav {
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 100;
  padding-top: 2px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}



/* Picture */
.menu-container {
  position: relative;
  width: 100%;
  top: -20px;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 250ms;
}

/* TODO: Insert this class with JS to shrink when scroll down */
.small-nav{
  background: linear-gradient(0deg, transparent 0 30%, hsla(205, 100%, 53%, 0.521), transparent 80%);
}

.small-menu{
  width: 50%;
  top: 0;
  
}

.menu-container svg {
  position: relative;
  flex-basis: 45%;
  z-index: 0;
}

.menu-container .menu-path-group {
  fill: none;
  stroke-width: 10px;
  stroke: var(--clr-neonBlue);
}

#menu-btn {
  /* outline: 1px solid red; */
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--clr-neonBlue);
  border: none;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px var(--clr-neonBlue);
  /* transition: transform linear 500ms; */
  animation: menu-btn-anim 3000ms linear infinite;
}

#menu-btn::before,
#menu-btn::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: var(--clr-neonBlue);
}

#menu-btn::before {
  top: -7px;
}

#menu-btn::after {
  top: 7px;
}

@keyframes menu-btn-anim {

  0%,
  100% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }
}

@media screen and (min-width:600px) {
  .menu-container {
    flex-basis: 20vw;
    align-self: flex-start;
  }
}

/* Menu slide */

.menu-slide{
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 1vh;
  left: -105vw;
  background-color: var(--clr-mainBackground);
  border-radius: 0 25px 25px 0;
  border: 5px solid var(--clr-neonBlue);
  opacity: .9;
  z-index: 100;
  transition: all linear 250ms;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-header{
  position: relative;
}

.menu-header h2{
  color: var(--clr-neonBlue);
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
}

.close-menu-btn{
  width: 30px;
  height: 30px;

  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 1rem;
  font-weight: bold;
  color: var(--clr-neonBlue);

  border: 2px solid hsla(205, 100%, 53%, 0.507);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}


.menu-slide__content-container ul{
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 5rem;
}

.menu-slide__content-container li{
  font-size: 1.5rem;
  line-height: 5rem;
}

.menu-slide__content-container a{
  text-decoration: none;
  color: var(--clr-ligthBlue);
}
/* Sides */


.header__item-container {
  /* outline: 1px solid white; */
  display: none;
}

.contact-links {
  list-style: none;
  padding: 0;
  width: 80%;
  display: none;
}

.link-icon i {
  font-size: 2rem;
  margin: 0 10px;
  color: var(--clr-neonBlue);
  background: transparent;
  text-shadow:
    0 5px 70px var(--clr-neonBlue),
    5px 0 70px var(--clr-neonBlue),
    -5px 0 70px var(--clr-neonBlue),
    0 -5px 70px var(--clr-neonBlue);
  transition: transform linear 150ms;
}

.link-icon:hover i {
  transform: scale(1.2);
}


@media screen and (min-width: 600px) {

  .header__item-container,
  .menu-container {
    flex-basis: 30vw;
  }

  .header__item-container {
    /* outline: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .header__item-container {
    justify-content: flex-end;
    height: 100%;
  }

  .right-menu__container {
    display: none;
  }

  .contact-links {
    height: 100%;
    justify-content: space-evenly;
  }

  .link-icon i {
    font-size: 3rem;
    /* margin: 15px; */
  }
}

.pageLink-list {
  /* outline: 2px solid yellow; */
  width: 100%;
  height: 100%;
  padding: 0;
  display: none;
  list-style: none;
  font-size: 10px;
}

.pageLink-item {
  /*font-family: var(--ff-main);*/
  font-size: 2.5em;
  transition: transform linear 150ms;
}

.pageLink-item+.pageLink-item {
  margin-left: 1.5em;
}

.pageLink-item a {
  text-decoration: none;
  color: var(--clr-neonBlue);
}

.pageLink-item:hover {
  transform: scale(1.2);
  text-shadow:
    5px 0 5px var(--clr-orange),
    0 5px 5px var(--clr-orange),
    -5px 0 5px var(--clr-orange),
    0 -5px 5px var(--clr-orange);
  font-weight: 700;
}

.pageLink-item:hover a>b {
  /* color: var(--clr-neonBlue); */
  text-shadow:
    5px 0 5px var(--clr-neonBlue),
    0 5px 5px var(--clr-neonBlue),
    -5px 0 5px var(--clr-neonBlue),
    0 -5px 5px var(--clr-neonBlue);
}

.pageLink-item:hover span {
  text-shadow:
    5px 0 5px hsl(229, 97%, 25%),
    0 5px 5px var(--clr-neonBlue),
    -5px 0 5px hsl(229, 97%, 25%),
    0 -5px 5px var(--clr-neonBlue);
}

.pageLink-item b {
  color: var(--clr-orange);
}

.services-btn {
  border: 2px solid var(--clr-ligthBlue);
  border-radius: 10px;
  padding: 5px;
}

@media screen and (min-width: 1024px) {
  .pageLink-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

/* ------------------------------------ Main ---------------------------------- */

main {
  /* outline: 1px solid white; */
  color: aliceblue;
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 1fr 2fr .15fr .95fr .15fr;
}

#greetings-page {
  grid-column: 1 / span 3;
  grid-row: 1;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#greetings-page__content-container {
  margin-top: 10px;
  background: linear-gradient(transparent, rgb(25, 23, 54), transparent);
  width: 85%;
  padding: 0 0.25rem;
  border-left: 2px solid var(--clr-neonBlue);
  border-right: 2px solid var(--clr-neonBlue);
}

#greetings-page::before,
#greetings-page::after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--clr-ligthBlue);
  position: absolute;
  border-radius: 1px;
  top: 10px;
}

#greetings-page::before {
  /* left: .8em; */
  left: 4%;
}

#greetings-page::after {
  /* right: .8em; */
  right: 4%;
}

#greetings {
  /*font-family: var(--ff-main);*/
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
  text-shadow:
    5px 0 5px var(--clr-neonBlue),
    0 5px 5px var(--clr-neonBlue),
    -5px 0 5px var(--clr-neonBlue),
    0 -5px 5px var(--clr-neonBlue);
}

#greetings span {
  color: var(--clr-orange);
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: none
}

#dots {
  color: var(--clr-orange);
  font-size: 2em;
}

#rol {
  display: inline-block;
  width: 100%;
  text-align: center;
  /*font-family: var(--ff-main);*/
  font-weight: 900;
  margin: 1em 0;
  text-shadow:
    5px 0 5px var(--clr-neonBlue),
    0 5px 5px var(--clr-neonBlue),
    -5px 0 5px var(--clr-neonBlue),
    0 -5px 5px var(--clr-neonBlue);
}

#rol>p:first-child {
  font-size: calc(100vw/6);
}

#rol>p:last-child {
  font-size: calc(100vw/10);
}

#rol span {
  color: var(--clr-orange);
  text-shadow:
    5px 0 5px var(--clr-ligthBlue),
    0 5px 5px var(--clr-ligthBlue),
    -5px 0 5px var(--clr-ligthBlue),
    0 -5px 5px var(--clr-ligthBlue);
}

#rol p:last-child {
  position: relative;
  z-index: 50;
}

/* ----------------------------------------------------------------------------------- */

/* ---------------------- Picture Visual Widget ----------------------------- */

#myPicture-visualWidget__container,
#myPicture-visualWidget__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#myPicture-visualWidget__inner-container {
  width: 9rem;
  height: 9rem;
  top: 30px;
}

.inner-visualWidget {
  border-color: var(--clr-neonBlue);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#visualWidget-1,
#visualWidget-2 {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: dotted;
}

#visualWidget-1 {
  border-radius: 95% 0 95% 0;
  animation-name: petal-1__animation;
  animation-timing-function: linear;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
}

#visualWidget-2 {
  border-radius: 0 95% 0 95%;
  animation: petal-2__animation linear 10s infinite;
}

#visualWidget-3,
#visualWidget-4 {
  width: 100%;
  height: 0;
  border-width: 1px;
  border-style: solid;
}

#visualWidget-3 {
  animation: line-horizontal linear 5s infinite alternate;
}

#visualWidget-4 {
  transform: rotate(90deg);
  animation: line-vertical linear 5s infinite alternate;
}

#visualWidget-5,
#visualWidget-6 {
  width: 50px;
  height: 100%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-radius: 5px;
}

#visualWidget-5 {
  animation: border-horizontal linear 5s infinite alternate;
}

#visualWidget-6 {
  transform: rotate(90deg);
  animation: border-vertical linear 5s infinite alternate;
}

@keyframes petal-1__animation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
}

@keyframes petal-2__animation {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes line-vertical {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes line-horizontal {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes border-horizontal {

  0%,
  100% {
    transform: scaleX(2);
  }

  50% {
    transform: scaleX(1);
  }
}

@keyframes border-vertical {

  0%,
  100% {
    transform: rotate(135deg);
  }

  50% {
    transform: rotate(225deg);
  }
}

#myPicture {
  position: absolute;
  top: 0;
  opacity: .75;
  border-radius: 10% 10% 50% 50%;
}

/* --------------------------------------------------------------------------------- */

/* ------------------------------ About me  ---------------------------------- */
.about-me {
  padding: 0 1rem;
  grid-column: 1 / span 3;
  grid-row: 2;
  /* background-color: var(--clr-neonBlue); */
}

.about-me>h2 {
  color: var(--clr-ligthBlue);
  margin-bottom: 1rem;
}

.about-me>p {
  margin: 1rem 0;
}

.about-me>p:nth-child(2),
.about-me>p:nth-child(5) {
  text-align: center;
}

.about-me>p:nth-child(2)>span,
.about-me>p:nth-child(5)>span {
  font-size: 3rem;
  display: block;
}

.about-me>p:nth-child(2)>b {
  color: var(--clr-orange);
}

.about-me>p:nth-child(7) {
  color: var(--clr-neonBlue);
}

.connect-container,
.colab-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.connect-container {
  border-top: 1px solid var(--clr-ligthBlue);
  border-right: 1px solid var(--clr-ligthBlue);
  border-bottom: 1px solid var(--clr-ligthBlue);
  border-radius: 0 10px 10px 0;
}

.linkedin-container i{
  color: var(--clr-linkedin);
}

.twitter-container i{
  color: #fff;
}

.mail-container i{
  color: #aaa;
}

.connect-container i,
.colab-container i,
.belt i {
  font-size: 2rem;
}

.colab-container {
  border-top: 1px solid var(--clr-ligthBlue);
  border-left: 1px solid var(--clr-ligthBlue);
  border-bottom: 1px solid var(--clr-ligthBlue);
  border-radius: 10px 0 0 10px;
}

.github-container i{
  color: #fff;
}

/* .belt {
  border-top: 1px solid var(--clr-ligthBlue);
  border-left: 1px solid var(--clr-ligthBlue);
  border-right: 1px solid var(--clr-ligthBlue);
  border-radius: 10px 10px 0 10px;
} */

fieldset {
  border-color: var(--clr-ligthBlue);
  border-radius: 10px;
  margin-bottom: 1rem;
}

legend {
  font-size: 1.25rem;
  /* width: 100%; */
}

.certifications {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.certifications hr {
  width: 30%;
  margin: 1rem 0
}

.certifications a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.sololearn-cert,
#sololearn-svg1,
#sololearn-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------------------------- */

#left-side__container {
  /* background-color: aqua; */
  grid-column: 1 / span 3;
  grid-row: 3;
  max-height: 10vh;
  border-bottom: 4px solid var(--clr-neonBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

#tech-list,
#projectType-list {
  /* outline: 1px solid red; */
  padding: .5rem 1rem;
  list-style: none;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(var(--clr-mainBackground), hsla(205, 100%, 50%, 0.094), var(--clr-mainBackground));
}



#right-side__container {
  /* background-color: blueviolet; */
  grid-column: 1 / span 3;
  grid-row: 5;
  max-height: 10vh;
  border-top: 1px solid var(--clr-neonBlue);
}

#projectType-list {
  font-size: 3rem;
  color: var(--clr-ligthBlue);
}

/* #item__app{
  font-size: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 25vw;
} */

@media screen and (min-width:600px) {
  #left-side__container {
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  #content-container {
    grid-column: 2;
    grid-row: 2 / span 3
  }

  #right-side__container {
    grid-column: 3;
    grid-row: 2 / span 3
  }
}

/* ------------------------ Project Collection ----------------------- */
#content-container {
  /* background-color: #30395d; */
  grid-column: 1 / span 3;
  grid-row: 4;
  max-height: 80vh;
  overflow-y: scroll;
}

/* ------------------------------------ Footer ------------------------------- */

footer {
  font-size: .75rem;
  /*font-family: var(--ff-main);*/
  text-align: center;
  color: var(--clr-ligthBlue);
  opacity: .5;
}